{
    "BOT_HOST_URL": "https://b113-37-201-192-98.ngrok-free.app",
    "BASE_URL": "https://erer.qweqwe.site/434343",
    "API_KEY": "37e21c57-qwewqe-4a5c-we-qwe",
    "BOT_TOKEN": "aaweqwew",
    "PROFILE_LINK": "https://erer.qweqwe.site/awewe/%s/#%s"
}
